body {
    background-image: url(calcu.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    color: rgb(8, 33, 222);
    text-align: center;
    font-size: 25px;
}
table {
    margin-center: 200px;
    text-align: center;
    font-size: 30px;
}
input {
    margin: 30px;
    height: 50px;
    width: 291px;
    font-size: 40px;
}
button {
    background-color:rgba(53, 24, 243, 0.416) ;
    color: rgb(247, 240, 247);
    width: 70px;
    height: 65px;
    font-size: 25px;
}
h1 {
    text-align: center;
}

.calculator {
    text-align: center;
    align-content: center;
}